body {
    background-color: black;
    color: white;
    font-size: 28px;
    font-family: 'Inconsolata';
}

#box {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#hangman {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.letter {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset {
    color: white;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    font-size: 50px;
}